@import url('./theme.css');

body {
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

.intro {
  padding-top: 40px;
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.picture {
    width: 120px;
    height: 120px;
}

.social {
    margin: 60px 0px 40px;
}

.fa {
    font-size: 38px;
    padding: 0px 6px;
    color: var(--accent-color);
}

.fa:hover {
    color: var(--accent-hover);
    text-decoration: none;
}

.semi-lead {
    color: var(--text-secondary);
    margin-top: 10px;
    font-size: 15px;
    font-weight: 200;
    line-height: 1.3;
}

@media (min-width: 768px) {

    .intro {
        padding-top: 80px;
    }

    .semi-lead {
        font-size: 18px;
    }
}
